body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height:100vh;
    background: linear-gradient(50deg, #ce72a5, #8b7683,#3b4a6b);
    color: #fff;
    justify-content: center;
    grid-gap: 1em;
    border-radius: 15px;
    box-shadow: 5px 10px 10px #444;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.entry{
    background: rgba(59, 74, 107, .4);
    border-radius: 15px;
    box-shadow: 5px 10px 10px #444;
    padding: 15px;
}

.headline {
    text-align: center;
    border: 1px solid #fff;
    border-radius: 15px;
    box-shadow: 5px 10px 10px #444;
    padding: 50px;
    margin-top: 15px;
    text-align: center;
    font-size: 36px;

}
.title{
    margin: 10px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    margin: 10px;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    border-radius: 15px;
    box-shadow: 5px 10px 10px #444;
    text-align: center;
    background:#8b7683;
    color: #fff;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #fff;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border-radius: 15px;
    box-shadow: 5px 10px 10px #444;
}
h1{
    font-size: 36px;
}

textarea{
    background:#393e3f;
    color: #fff;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 5px 10px 10px #444;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #fff; 
    font-family: 'Oswald', sans-serif;

} 

:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #fff; 
    font-family: 'Oswald', sans-serif;

} 

::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #fff; 
    font-family: 'Oswald', sans-serif;

}